.env
.idea
dist
node_modules
env
model/ETL
model/ETL9B
model/*.h5
model/extract
model/my_saved_model
kanji_saved_model
model/kanji_dataset
uploads/*.png
uploads/*.jpg
ignore
__pycache__

.terraform
.terraform_env
terraform.tfstate
terraform.tfstate.backup

